{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <script src="{% static 'frontend/app.js' %}"></script>
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <header class="navbar">
        <div class="nav-inner">
            <span>Leave Management System</span>
            <ul class="nav-links" id="nav-links">
                <li>
                    <button onclick="logout(event)">
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>